.about-project {
  width: 100%;
  background-color: #202020;
  padding: 0 70px;
  box-sizing: border-box;
}

.about-project__title {
  height: 27px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  padding-top: 110px;
  margin: 0 auto 23px 0;
  color: white;
}

.about-project__line {
  border: 1px solid #dadada;
}

.about-project__container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.about-project__box {
  width: 550px;
  margin-bottom: 110px;
}

.about-project__paragraph {
  height: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  color: white;
  margin: 0;
  margin-bottom: 26px;
}

.about-project__text {
  height: 40px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
  margin: 0;
}

.about-project__made {
  width: 17.8vw;
  background-color: #3ddc84;
  height: 36px;
}

.about-project__made_text {
  height: 18px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: black;
  margin: 9px auto;
  text-align: center;
}

.about-project__work {
  width: 74vw;
  background-color: #303030;
  height: 36px;
}

.about-project__work_text {
  width: 200px;
  height: 18px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: white;
  margin: 9px auto;
  text-align: center;
}

.about-project__info {
  height: 17px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  margin: 0 auto;
  padding-top: 14px;
  text-align: center;
}

.about-project__box_graph {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 141px;
}

@media screen and (max-width: 1240px) {
  .about-project {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
  }

  .about-project__title {
    height: 27px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    color: white;
  }

  .about-project__paragraph {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 24.2px;
  }

  .about-project__text {
    height: 54px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__line {
    border: 1px solid #dadada;
  }

  .about-project__box {
    width: 319px;
    margin-bottom: 93px;
  }

  .about-project__info {
    height: 17px;
    margin: 0;
    padding-top: 14px;
    text-align: center;
  }

  .about-project__info:last-of-type {
    margin: 0 auto;
  }

  .about-project__box_graph {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 766px) {

  .about-project__container {
    margin-top: 60px;
  }

  .about-project__box {
    width: 284px;
    margin-bottom: 56px;
  }

}

  @media screen and (max-width: 500px) {
    .about-project__title {
      padding-top: 70px;
      margin-bottom: 28px;
    }

    .about-project__paragraph {
      margin-bottom: 16px;
    }

    .about-project__work_text {
      height: 13px;
      font-family: "Inter", Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 13.31px;
      color: white;
      margin: 9px auto;
      text-align: center;
    }

    .about-project__made_text {
      height: 13px;
      font-family: "Inter", Arial, Helvetica, sans-serif;
      font-weight: 400;
      font-size: 11px;
      line-height: 13.31px;
      color: black;
      margin: 11px auto;
    }

    .about-project__info {
      height: 13px;
      font-family: "Inter", Arial, Helvetica, sans-serif;
      font-weight: 500;
      font-size: 11px;
      line-height: 12.74px;
      padding-top: 10px;
    }

  }
