.button {
  min-height: 327px;
}

.button__button {
  background-color: #4285F4;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  width: 396px;
  border: none;
  padding: 0;
  margin: 179px auto 16px auto;
}

.button__button_name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.94px;
  color: white;
}

.button__button_info {
  display: flex;
}

.button__button_text {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #8B8B8B;
  margin: 0 6px 0 auto;
}

.button__button_register {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #4285F4;
  cursor: pointer;
  margin-right: auto;
  text-decoration: none;
}