.movies-card-list {
  display: block;
  padding-top: 70px;
  padding-bottom: 10px;
  min-height: 700px;
}

.movies-card-list__list {
  display: grid;
  column-gap: 24px;
  row-gap: 37px;
  grid-template-columns: repeat(auto-fit, minmax(34px, 364px));
  margin: 0 auto;
  box-sizing: border-box;
  align-items: start;
}

@media screen and (max-width:1190px) {

  .movies-card-list__list {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

}
