.search-form {
  box-sizing: border-box;
  padding-top: 70px;
}

.search-form__filter {
  width: 1140px;
  height: 72px;
  background-color: #2f2f2f;
  margin: 0 auto 69px auto;
  display: flex;
  justify-content: start;
  border-radius: 9px;
}

.search-form__icon {
  width: 34px;
  height: 34px;
  margin: 19px 10px 19px 19px;
}

.search-form__input {
  height: 22px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  margin: 25px auto 25px 0;
  background: #2f2f2f;
  border: none;
  outline: none;
}

.search-form__line {
  border: 1px solid #424242;
  height: 40px;
  margin: 16px 0;
}

.search-form__input:focus {
  border-bottom: 1px #000 solid;
}

.search-form__button-form {
  width: 80px;
  height: 34px;
  margin: 19px 30px 19px 10px;
  text-align: end;
}

.search-form__button {
  width: 58.65px;
  height: 34px;
  background-color: #4285f4;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  color: white;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 48px;
  cursor: pointer;
}

.search-form__slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-form__slide:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #3ddc84;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .search-form__slide {
  background-color: #202020;
}

input:checked + .search-form__slide:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.search-form__slide.round {
  border-radius: 34px;
}

.search-form__slide.round:before {
  border-radius: 50%;
}

.search-form__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin: 26px 14px 26px 29px;
}

.search-form__switch input {
  display: none;
}

.search-form__line-end {
  border: 1px solid #424242;
  width: 1140px;
  margin: 0 auto 10px auto;
}

.search-form__paragraph {
  margin: 27px 30px 27px 0;
}

@media screen and (max-width: 1180px) {
  .search-form {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }

  .search-form__filter {
    width: 100%;
    height: 72px;
    background-color: #2f2f2f;
    margin: 0 auto 69px auto;
    display: flex;
    justify-content: start;
  }

  .search-form__input {
    height: 22px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
  }

  .search-form__line-end {
    border: 1px solid #424242;
    width: 100%;
    margin: 0 auto 10px auto;
  }

  .search-form__switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin: 26px 15px 26px 19px;
  }

  .search-form__paragraph {
    margin: 27px 20px 27px 0;
  }

  .search-form__button-form {
    width: 80px;
    height: 34px;
    margin: 19px 19px 19px 0;
    text-align: end;
  }
}

.search-form__box {
  display: flex;
}

@media screen and (max-width: 650px) {

  .search-form__filter {
    flex-wrap: wrap;
  }

  .search-form__icon {
    visibility: hidden;
    margin: 0;
    width: 0;
    height: 0;
  }

  .search-form {
    height: 222px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search-form__input {
    font-size: 14px;
    line-height: 20px;
    margin: 25px auto 25px 19px;
  }

}

@media screen and (max-width: 510px) {

  .search-form__box {
    margin: 0 auto;
  }

  .search-form__line {
    border: none;
    height: 0;
    margin: 0;
  }

}